Package: fakturama
Version: 1.6.6
Section: misc
Priority: extra
Architecture: i386
Depends: bash
Installed-Size: 40000
Maintainer: Ralf Heydenreich <ralf.heydenreich@fakturama.net>
Homepage: http://www.fakturama.org
Description: Free and Open Source Invoicing Software

