/* Shared style applied to all pages */
/* trick to get desired scroll bar behavior on all browsers */ 

/* Give some space for main div.*/	
.page-style {
	text-align: left;
	margin-top:50px;
}
	

html {
	border:0px;
	height:100%;
}

	
body {	
	margin-left:14px;
	margin-top:10px;
	font-family: Verdana,sans-serif; 
	font-size: 12px;
	color:#000000;
} 


#heading {
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

	
h1 {
	text-align:left;
	font-family: Times, serif; 
	font-size: 16pt;
	font-weight:normal;
	color:#444444;
	margin-top: 50px;
} 


p {
	padding-left:5px;
}

	
a {
	color:#000000;
	font-weight:normal;
	text-decoration:underline;
}
	
	


